/* BREAKPOINTS */
/* 400px */
/* 560px */
/* 1000px */
/* 1660px */
/* 560px */
/* 840px */
/* 1680px */
.modal-result {
  display: none;
  transform: scaleY(0);
  opacity: 0;
  max-height: auto;
  transform-origin: bottom; }
  .modal-result.active {
    display: flex;
    transform: scaleY(1);
    opacity: 1;
    -webkit-animation: expand .3s ease-out forwards;
    animation: expand .3s ease-out forwards; }
  @media only screen and (min-width: 103.75em) {
    .modal-result {
      display: flex;
      position: absolute;
      opacity: 1;
      width: 0;
      right: -50%;
      padding: 0 5%; }
      .modal-result.active {
        transform: scaleX(1);
        transform-origin: right;
        -webkit-animation: expandLarge .3s ease-out forwards;
        animation: expandLarge .3s ease-out forwards; } }

@keyframes expand {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: flex;
    opacity: 0;
    transform: scaleY(0); }
  100% {
    opacity: 1;
    transform: scaleY(1); } }
@keyframes expandLarge {
  0% {
    opacity: 0;
    transform: scaleX(0); }
  100% {
    right: 0;
    width: 50%;
    opacity: 1;
    transform: scaleX(1); } }
.modal-result__list.active,
.result__heading.active {
  -webkit-animation: FadeInWithDelay .3s ease-in forwards;
  animation: FadeInWithDelay .3s ease-in forwards; }

@keyframes FadeInWithDelay {
  0% {
    opacity: 0; }
  70% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.popup {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: auto;
  padding: 16px;
  background: #f1f1f1;
  color: #ed6a5a;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top; }
  @media only screen and (min-width: 103.75em) {
    .popup {
      height: 80px;
      padding-top: 30px; } }
  .popup.active {
    opacity: 1;
    -webkit-animation: scaleAndFadeIn .2s ease-in forwards;
    animation: scaleAndFadeIn .2s ease-in forwards; }

@keyframes scaleAndFadeIn {
  0% {
    opacity: 0;
    transform: scaleY(0); }
  50% {
    opacity: 1; }
  100% {
    transform: scaleY(1); } }
*, *:before, *:after, *::before, *::after {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  color: #666;
  font-family: "Myriad Pro", Roboto, Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.6;
  background-color: #252525; }

h1, h2, h3, h4, h5 {
  font-family: "Abril Fatface", cursive;
  font-weight: normal; }

h1 {
  font-size: 55px;
  font-size: 5.5rem;
  letter-spacing: 0.2rem;
  line-height: 1; }

h2 {
  font-size: 30px;
  font-size: 3rem; }
  @media only screen and (min-width: 62.5em) {
    h2 {
      font-size: 40px;
      font-size: 4rem; } }
  @media only screen and (min-width: 103.75em) {
    h2 {
      font-size: 50px;
      font-size: 5rem; } }

h3 {
  font-size: 25px;
  font-size: 2.5rem; }

ol {
  padding-left: 0;
  display: list-item;
  list-style: decimal; }

ol li {
  word-break: break-all;
  letter-spacing: 2px; }

@-moz-document url-prefix() {
  ol {
    list-style: none; } }
a {
  color: #f1f1f1;
  text-decoration: none;
  text-transform: uppercase; }
  a:hover {
    transition: all 0.3 ease;
    color: white; }

button,
.btn {
  cursor: pointer;
  outline: none;
  overflow: hidden;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: white;
  border: none;
  padding: 10px;
  padding-top: 15px;
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: 600;
  box-shadow: 0px 1px 1px 0px rgba(9, 9, 9, 0.55); }

.randomize-button {
  outline: none;
  border-radius: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: white;
  padding: 10px;
  padding-top: 15px;
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #5ca4a9;
  border-top: 0;
  border-left: 0;
  border-radius: 2px;
  transition: all 0.3s ease; }
  .randomize-button:not([disabled]):hover {
    transition: all 0.3s ease;
    background: #6dadb2;
    border-top: 0;
    border-left: 0; }
  .randomize-button:not(.disabled):active {
    background-color: #51959a;
    border-top: 0;
    border-left: 0; }

.clear-button {
  position: absolute;
  top: 16px;
  right: 10px;
  width: 0;
  height: 0;
  margin: 0 auto;
  border-radius: 50% 50%;
  border: none;
  box-shadow: none;
  text-indent: 9999px;
  overflow: hidden;
  display: none;
  opacity: 0;
  background-color: transparent;
  animation: fading 0s ease-in-out; }
  .clear-button.active {
    display: inline-block;
    opacity: 1;
    animation: fading .3s ease-in-out; }
  .clear-button:not([disabled]):hover {
    box-shadow: none; }
  .clear-button:before, .clear-button:after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    width: 2px;
    height: 10px;
    background: white;
    transform: rotate(45deg); }
  .clear-button:after {
    transform: rotate(-45deg); }

@keyframes fading {
  0% {
    opacity: 0; }
  1% {
    display: inline-block; }
  100% {
    opacity: 1; } }
.result__heading {
  opacity: 0;
  color: white;
  margin-bottom: -10px;
  width: 80%; }
  @media only screen and (min-width: 62.5em) {
    .result__heading {
      width: 100%; } }

.header__heading {
  color: white; }

.site {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
  align-items: stretch;
  height: 100vh;
  margin: 0 auto; }

.header {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  align-content: center;
  flex: 0 1 auto;
  width: 100%;
  height: 80px;
  min-height: 80px;
  padding: 10px;
  border-bottom: 1px solid #333;
  box-shadow: 0px 2px 10px 0px rgba(5, 5, 5, 0.55);
  background: linear-gradient(137deg, #222222, #5ca4a9);
  background-size: 400% 400%;
  animation: backgroundPosition 40s ease infinite; }
@-webkit-keyframes backgroundPosition {
  0% {
    background-position: 0% 19%; }
  50% {
    background-position: 100% 82%; }
  100% {
    background-position: 0% 19%; } }
@-moz-keyframes backgroundPosition {
  0% {
    background-position: 0% 19%; }
  50% {
    background-position: 100% 82%; }
  100% {
    background-position: 0% 19%; } }
@keyframes backgroundPosition {
  0% {
    background-position: 0% 19%; }
  50% {
    background-position: 100% 82%; }
  100% {
    background-position: 0% 19%; } }
  @media only screen and (min-width: 103.75em) {
    .header {
      display: flex; } }

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1 0 auto; }
  @media only screen and (min-width: 103.75em) {
    .main {
      flex-direction: row; } }

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  align-content: center;
  flex: 1 1 auto;
  width: 100%;
  margin: 0; }
  @media only screen and (min-width: 62.5em) {
    .modal {
      padding: 0 15%; } }

.modal-randomiser {
  align-items: center;
  transition: all .3s ease-in-out;
  background: #252525; }
  .modal-randomiser .modal-randomiser__form {
    display: flex;
    flex-direction: column;
    margin-top: 6%;
    margin-bottom: 6%;
    width: 80%; }
    @media only screen and (min-width: 62.5em) {
      .modal-randomiser .modal-randomiser__form {
        width: 100%; } }
  @media only screen and (min-width: 103.75em) {
    .modal-randomiser.scootchLeftForResult {
      width: 50%;
      position: absolute;
      left: 0;
      padding: 0 5%; } }

.modal-result {
  background-color: #263031;
  transform: scaleY(0);
  align-items: center;
  background-color: transparent;
  border-top: 1px solid white;
  width: 80%; }
  @media only screen and (min-width: 62.5em) {
    .modal-result {
      width: 70%;
      padding: 0; } }
  @media only screen and (min-width: 103.75em) {
    .modal-result {
      border-top: 0px solid transparent;
      border-left: 1px solid white; } }
  .modal-result .modal-result__list {
    display: flex;
    flex-direction: column;
    font-family: "Abril Fatface", cursive;
    color: white;
    font-size: 20px;
    list-style-position: inside;
    width: 80%;
    opacity: 0; }
    @media only screen and (min-width: 62.5em) {
      .modal-result .modal-result__list {
        width: 100%; } }

.input-wrapper {
  position: relative; }

textarea:focus {
  color: #63a8ad;
  outline: 0; }

::placeholder {
  color: #5ca4a9;
  margin: 0;
  padding: 0; }

textarea:focus::placeholder {
  opacity: 0; }

textarea:focus::-webkit-textarea-placeholder {
  opacity: 0; }

::-webkit-textarea-placeholder {
  color: #5ca4a9; }

:-moz-placeholder {
  color: #5ca4a9; }

::-moz-placeholder {
  color: #5ca4a9; }

:-ms-textarea-placeholder {
  color: #5ca4a9; }

.text-area {
  overflow: hidden;
  width: 100%;
  height: 46px;
  margin: 0;
  padding: 16px 24px 6px 10px;
  margin-bottom: 10px;
  border: 0;
  border-bottom: 1px solid #5ca4a9;
  background: none;
  color: #5ca4a9;
  font-size: 20px;
  line-height: 24px;
  resize: none;
  transition: all 0.3s ease;
  min-height: 46px;
  max-height: 300px; }
  .text-area:not([disabled]):hover, .text-area textarea[type="text"]:hover {
    transition: all 0.3s ease;
    border-bottom: 1px solid #7db7bb;
    color: #7db7bb; }
  .text-area:not(.disabled):active, .text-area textarea[type="text"]:active {
    border-bottom: 1px solid #7db7bb;
    color: #5ca4a9; }
  .text-area:not(.disabled):focus, .text-area textarea[type="text"]:focus {
    border-bottom: 1px solid #7db7bb;
    color: #6dadb2; }

/* BREAKPOINTS */
/* 400px */
/* 560px */
/* 1000px */
/* 1660px */
/* 560px */
/* 840px */
/* 1680px */
.modal-result {
  display: none;
  transform: scaleY(0);
  opacity: 0;
  max-height: auto;
  transform-origin: bottom; }
  .modal-result.active {
    display: flex;
    transform: scaleY(1);
    opacity: 1;
    -webkit-animation: expand .3s ease-out forwards;
    animation: expand .3s ease-out forwards; }
  @media only screen and (min-width: 103.75em) {
    .modal-result {
      display: flex;
      position: absolute;
      opacity: 1;
      width: 0;
      right: -50%;
      padding: 0 5%; }
      .modal-result.active {
        transform: scaleX(1);
        transform-origin: right;
        -webkit-animation: expandLarge .3s ease-out forwards;
        animation: expandLarge .3s ease-out forwards; } }

@keyframes expand {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: flex;
    opacity: 0;
    transform: scaleY(0); }
  100% {
    opacity: 1;
    transform: scaleY(1); } }
@keyframes expandLarge {
  0% {
    opacity: 0;
    transform: scaleX(0); }
  100% {
    right: 0;
    width: 50%;
    opacity: 1;
    transform: scaleX(1); } }
.modal-result__list.active,
.result__heading.active {
  -webkit-animation: FadeInWithDelay .3s ease-in forwards;
  animation: FadeInWithDelay .3s ease-in forwards; }

@keyframes FadeInWithDelay {
  0% {
    opacity: 0; }
  70% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.popup {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: auto;
  padding: 16px;
  background: #f1f1f1;
  color: #ed6a5a;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top; }
  @media only screen and (min-width: 103.75em) {
    .popup {
      height: 80px;
      padding-top: 30px; } }
  .popup.active {
    opacity: 1;
    -webkit-animation: scaleAndFadeIn .2s ease-in forwards;
    animation: scaleAndFadeIn .2s ease-in forwards; }

@keyframes scaleAndFadeIn {
  0% {
    opacity: 0;
    transform: scaleY(0); }
  50% {
    opacity: 1; }
  100% {
    transform: scaleY(1); } }

/*# sourceMappingURL=main.css.map */
