/* BREAKPOINTS */
$bp-mobile : 25em; /* 400px */
$bp-small : 35em; /* 560px */
$bp-medium : 62.5em; /* 1000px */
$bp-large : 103.750em; /* 1660px */

/* 560px */
@mixin mf-small {
  @media only screen and (min-width: $bp-small) {
    @content;
  }
}
/* 840px */
@mixin mf-medium {
  @media only screen and (min-width: $bp-medium) {
    @content;
  }
}
/* 1680px */
@mixin mf-large {
  @media only screen and (min-width: $bp-large) {
    @content;
  }
}
@mixin landscape {
  @media all and (orientation:landscape) {
    @content;
  }
}
