.modal-result {
    display: none;
    transform: scaleY(0);
    opacity: 0;
    max-height: auto;
    transform-origin: bottom;
    &.active {
      display: flex;
      transform: scaleY(1);
      opacity: 1;  
      -webkit-animation: expand .3s ease-out forwards;
      animation: expand .3s ease-out forwards;
    }
    @include mf-large {
      display: flex;
      position: absolute;
      opacity: 1;
      width: 0;
      right: -50%;
      padding: 0 5%;
      &.active {
        transform: scaleX(1);
        transform-origin: right;
        -webkit-animation: expandLarge .3s ease-out forwards;
        animation: expandLarge .3s ease-out forwards;
      }
    }
}
@keyframes expand {
    0% {
      display: none;
      opacity: 0;
    }
    1% {
      display: flex;
      opacity: 0;
      transform: scaleY(0);
    }
    100% {
      opacity: 1;
      transform: scaleY(1);
    }
  }
  @keyframes expandLarge {
    0% {
      opacity: 0;
      transform: scaleX(0);
    }
    100% {
      right: 0;
      width: 50%;
      opacity: 1;
      transform: scaleX(1);
    }
  }

  .modal-result__list, 
  .result__heading {
    &.active {
      -webkit-animation: FadeInWithDelay .3s ease-in forwards;
      animation: FadeInWithDelay .3s ease-in forwards;
    }
  }
  @keyframes FadeInWithDelay {
    0% {
      opacity: 0;
    }
    70% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .popup {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      height: auto;
      padding: 16px;
      background: #f1f1f1;;
      color: $primary;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: top;
      @include mf-large {
        height: 80px;
        padding-top: 30px;
      }
      &.active {
        opacity: 1;
        -webkit-animation: scaleAndFadeIn .2s ease-in forwards;
        animation: scaleAndFadeIn .2s ease-in forwards;
    }
  }

  @keyframes scaleAndFadeIn {
      0% { 
        opacity: 0;
        transform: scaleY(0);
      }
      50% {
        opacity: 1;
      }
      100% { 
        transform: scaleY(1);
      }
  }