.input-wrapper {
    position: relative;
}

textarea:focus {
    color: lighten($quaternary, 2%);
	outline:0;
}
::placeholder {
    color:$quaternary;
    margin: 0;
    padding: 0;
}
textarea:focus::placeholder {
    opacity: 0;
}
textarea:focus::-webkit-textarea-placeholder {
    opacity: 0;
}
::-webkit-textarea-placeholder {
    color:$quaternary;
}
:-moz-placeholder {
    color:$quaternary;
}
::-moz-placeholder {
    color:$quaternary;
}
:-ms-textarea-placeholder {
    color:$quaternary;
}
.text-area {
    overflow: hidden;
    width: 100%;
    height: 46px;
    margin: 0;
    padding: 16px 24px 6px 10px;
    margin-bottom: 10px;
	border: 0;
    border-bottom:1px solid $quaternary;
	background: none;
    color: $quaternary;
    font-size: 20px;
    line-height: 24px;
    resize: none;
    transition: all 0.3s ease;
    min-height: 46px;
    max-height: 300px;
    &:not([disabled]):hover, textarea[type="text"]:hover {
        transition: all 0.3s ease;
        border-bottom:1px solid lighten($quaternary, 10%);
        color: lighten($quaternary, 10%);
    }
    &:not(.disabled):active, textarea[type="text"]:active {
        border-bottom:1px solid lighten($quaternary, 10%);
        color: $quaternary;
    }
    &:not(.disabled):focus, textarea[type="text"]:focus {
        border-bottom:1px solid lighten($quaternary, 10%);
        color: lighten($quaternary, 5%);
    }
}