// IMPORTS
// TAGS
// BUTTONS
// TYPE


// IMPORTS
@import '../behavior/-behavior-dir';

// TAGS
*, *:before, *:after, *::before, *::after {
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	color: $gray;
	font-family: $font-primary;
	font-size: 16px; font-size: 1.6rem;
	letter-spacing: 0.1rem;
	line-height: 1.6;
  background-color: #252525;
}
h1, h2, h3, h4, h5 {
	font-family: $font-secondary;
	font-weight: normal;
}
h1 {
	font-size: 55px; font-size: 5.5rem;
	letter-spacing: 0.2rem;
	line-height: 1;
}
h2 {
	font-size: 30px; font-size: 3rem;
    @include mf-medium {
	    font-size: 40px; font-size: 4rem;        
    }
    @include mf-large {
	    font-size: 50px; font-size: 5rem;        
    }
}
h3 {
	font-size: 25px; font-size: 2.5rem;
}

ol {
  padding-left: 0;
  display: list-item;
  list-style: decimal;
}
ol li {
  word-break: break-all;
  letter-spacing: 2px;
}
@-moz-document url-prefix() {
  ol {
    list-style: none;
  }
}

a {
	color: #f1f1f1;
	text-decoration: none;
	text-transform: uppercase;
	&:hover {
		transition: all 0.3 ease;
		color: white;
	}
}
button,
.btn {
  cursor: pointer;
  outline: none;
  overflow: hidden;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: white;
  border: none;
  padding: 10px;
  padding-top: 15px; 
  font-size: 15px; font-size: 1.5rem;
  font-weight: 600;
  box-shadow:  0px 1px 1px 0px rgba(9, 9, 9, 0.55);
}


// BUTTONS
.randomize-button {
  outline: none; // REMOVES UGLY BOX-SHADOW IN CHROME <3
  border-radius: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: white;
  padding: 10px;
  padding-top: 15px; 
  font-size: 15px; font-size: 1.5rem;
  font-weight: 600;
  background-color: $quaternary;
  border-top: 0;
  border-left: 0;  
  border-radius: 2px;
  transition: all 0.3s ease;
  &:not([disabled]):hover {
    transition: all 0.3s ease;
	  background: lighten($quaternary, 5%);
    border-top: 0;
    border-left: 0;
  }
  &:not(.disabled):active {
    background-color: darken($quaternary, 5%);
    border-top: 0;
    border-left: 0;
  }
}
.clear-button {
  position: absolute;
  top: 16px;
  right: 10px;
  width: 0; 
  height: 0;
  margin: 0 auto;
  border-radius: 50% 50%;
  border: none; 
  box-shadow: none;
  text-indent: 9999px;
  overflow: hidden;
  display: none;
  opacity: 0;
  background-color: transparent;
  animation: fading 0s ease-in-out;
  &.active {
    display: inline-block;
    opacity: 1;
    animation: fading .3s ease-in-out;
  }
  &:not([disabled]):hover {
      box-shadow: none;
  }
  &:before, &:after {
      content: "";
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      margin-top: -5px;
      width: 2px;
      height: 10px;
      background: white;
      transform: rotate(45deg);
  }
  &:after {
      transform: rotate(-45deg);
  }
}
@keyframes fading {
  0% { opacity: 0; }
  1% { display: inline-block; }
  100% { opacity: 1; }
}

// TYPE
.result__heading {
  opacity: 0;
  color: white;
  margin-bottom: -10px;
  width: 80%;
  @include mf-medium {
    width: 100%;
}
}
.header__heading {
  color: white;
}