.site {
	display: flex;
    flex-direction: column;
	justify-content:space-between;
	flex: 1 1 auto;
	align-items: stretch;
    height: 100vh;
	margin: 0 auto;
}
.header {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    align-content: center;
	flex: 0 1 auto;
    width: 100%;     
    height: 80px;
    min-height: 80px;
    padding: 10px;
    border-bottom: 1px solid #333;
    box-shadow:  0px 2px 10px 0px rgba(5, 5, 5, 0.55);
    background: linear-gradient(137deg, #222222, $quaternary);
	background-size: 400% 400%;
	animation: backgroundPosition 40s ease infinite;
    @-webkit-keyframes backgroundPosition {
	    0%{background-position:0% 19%}
	    50%{background-position:100% 82%}
	    100%{background-position:0% 19%}
	}
	@-moz-keyframes backgroundPosition {
	    0%{background-position:0% 19%}
	    50%{background-position:100% 82%}
	    100%{background-position:0% 19%}
	}
	@keyframes backgroundPosition {
	    0%{background-position:0% 19%}
	    50%{background-position:100% 82%}
	    100%{background-position:0% 19%}
    }
    @include mf-large {
        display: flex;
    }
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1 0 auto;
    @include mf-large {
        flex-direction: row;
    }
}

.modal {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    align-content: center;
	flex: 1 1 auto;
    width: 100%;     
    margin: 0;
    @include mf-medium {
        padding: 0 15%
    }
}

.modal-randomiser {
    align-items: center;
    transition: all .3s ease-in-out;
    background: #252525;
    .modal-randomiser__form {
        display: flex;
        flex-direction: column;
        margin-top: 6%;
        margin-bottom: 6%;
        width: 80%;
        @include mf-medium {
            width: 100%;
        }
    }
    &.scootchLeftForResult {
        @include mf-large {
            width: 50%;
            position: absolute;
            left: 0;
            padding: 0 5%;
        }
    }
}

.modal-result {
    background-color: hsl(185, 13%, 17%);
    transform: scaleY(0);
    align-items: center;
    background-color: transparent;
    border-top: 1px solid white;
    width: 80%;
    @include mf-medium {
        width: 70%;
        padding: 0;
    }
    @include mf-large {
        border-top: 0px solid transparent;
        border-left: 1px solid white;
    }
    .modal-result__list {
        display: flex;
        flex-direction: column;
        font-family: $font-secondary;
        color: white;
        font-size: 20px;
        list-style-position:inside;
        width: 80%;
        opacity: 0;
        @include mf-medium {
            width: 100%;
        }
    }
}