// SETTINGS //

// TYPE
$font-primary: 'Myriad Pro', Roboto, Arial, sans-serif;
$font-secondary: 'Abril Fatface', cursive;
$font-size-normal: 16px 1.6rem;
$font-size-20: 20px 2rem;

// COLORS
$primary: #ed6a5a; //rgba(237, 106, 90, 100)
$primary-tint: lighten($primary, 10%);
$primary-shade: darken($primary, 10%);

$secondary: #c7efcf; //rgba(199, 239, 207, 100)
$secondary-tint: lighten($secondary, 10%);
$secondary-shade: darken($secondary, 10%);

$tertiary: #9bc1bc; //rgba(155, 193, 188, 100)
$quaternary: #5ca4a9; //rgba(92, 164, 169, 100)
$quinary: #e6ebe0; //rgba(230, 235, 224, 100)

$off-white :   #f1f1f1;
$gray      :   #666;
